<div class="row justify-content-center m-0">
    <div class="col-12 col-sm-12 col-md-7 contenedor">
        <h1>Registro de Nueva Actividad</h1>

        <form class="formulario">
            <div class="encabezado">
                <h5>Registrar Actividad</h5>
            </div>
            <div class="contenedor-formulario p-3">
                <div class="mb-3">
                    <label for="nombreActividad" class="form-label">Nombre Actividad</label>
                    <input type="text" class="form-control" id="nombreActividad" name="nombreActividad" placeholder="Ingrese el nombre de la actividad" [(ngModel)]="actividad.nombreActividad">
                </div>
                <div class="mb-3">
                    <label for="horario" class="form-label">Horario</label>
                    <input type="text" class="form-control" id="horario" name="horario" placeholder="Ingrese el horario" [(ngModel)]="actividad.horarioActividad">
                </div>
                <div class="mb-3">
                    <label for="responsable" class="form-label">Responsable</label>
                    <input type="text" class="form-control" id="responsable" name="responsable" placeholder="Ingrese el Nombre y Apellido del responsable" [(ngModel)]="actividad.responsableActividad">
                </div>
                <div class="mb-3">
                    <label for="cuota" class="form-label">Valor de la cuota</label>
                    <input type="number" class="form-control" id="cuota" name="cuota" placeholder="Ingrese el valor de la cuota" [(ngModel)]="actividad.valorCuotaActividad">
                </div>
                <div class="boton-formulario">
                    <button type="submit" class="btn btn-primary" (click)="crearActividad()">Registrar Actividad</button>
                </div>
            </div>
        </form>
    </div>
</div>