<div class="row justify-content-center m-0">
    <div class="col-12 col-sm-12 col-md-7 contenedor">
        <h1>Registro de Nuevo Socio</h1>

        <form class="formulario">
            <div class="encabezado">
                <h5>Verificar DNI</h5>
            </div>

            <div class="contenedor-formulario p-3">
                <div class="mb-3 verificar d-flex">
                    <input type="text" class="form-control" name="verificar" placeholder="Ingrese dni para verificar...">
                    <div class="btn btn-secondary">Verificar</div>
                </div>
                <div>
                    <label for="estado">Estado:</label>
                    <input type="text" id="estado" disabled value="DNI no registrado">
                </div>
            </div>
        </form>

        <br>
        <form class="formulario">
            <div class="encabezado">
                <h5>Registrar socio</h5>
            </div>
            <div class="contenedor-formulario p-3">
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI Socio</label>
                    <input type="text" class="form-control" id="dni" placeholder="Ingrese el DNI" value="42123123" disabled>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido">
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre">
                </div>
                <div class="mb-3">
                    <label for="emailSocio" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailSocio" name="emailSocio" placeholder="Ingrese email">
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="email" class="form-control" id="telefono" placeholder="ingrese el telefono">
                </div>
                <div class="boton-formulario ">
                    <button type="submit" class="btn btn-primary">Registrar Socio</button>
                </div>
            </div>
        </form>
    </div>
</div>