.row {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 26, 1) 100%);
    height: 200vh;
}

.contenedor{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

.formulario {
    width: 80%;
    border: double 5px rgb(255, 9, 1);
    border-radius: 20px;
    overflow: hidden;
}

.boton-formulario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado {
    width: 100%;
    background-color: red;
    height: 2em;
}

.encabezado h5 {
    text-align: center;
    color: white;
}

label {
    color: white;
}