<div class="row justify-content-center m-0">
    <div class="col-12 col-sm-12 col-md-7 contenedor">
        <h1>Registro de Asistencia</h1>

        <form class="formulario">
            <div class="encabezado">
                <h5>Busqueda de Socio</h5>
            </div>

            <div class="contenedor-formulario p-3">
                <div class="mb-3 verificar d-flex">
                    <input type="text" class="form-control" name="verificar" placeholder="Ingrese dni del socio...">
                    <div class="btn btn-secondary">Buscar</div>
                </div>
                <div class="boton-formulario ">
                    <button type="submit" class="btn btn-primary">Nueva Consulta</button>
                </div>
            </div>
        </form>

        <br>
        <form class="formulario">
            <div class="encabezado">
                <h5>Actividades vigentes del Socio</h5>
            </div>
            <div class="contenedor-formulario p-3">
                
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido y Nombre</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido">
                </div>
                
                <select class="form-select mb-3" aria-label="Default select example">
                    <option selected>Seleccione Actividad</option>
                    <option value="1">Bascket</option>
                    <option value="2">Futbol</option>
                    <option value="3">Voley</option>
                </select>

                <div class="boton-formulario ">
                    <button type="submit" class="btn btn-primary">Registrar Actividad</button>
                </div>
            </div>
        </form>
    </div>
</div>