<div class="row justify-content-center m-0">

    <!-- Modal Registro -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span style="color: white;">¿Desea registrar la suscripción?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="registrarSuscripcion()">Confirmar suscripcion</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar Suscripcion -->
    <div class="modal fade" id="staticBackdropEliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span style="color: white;">¿Desea eliminar la suscripción?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="eliminarSuscripcion()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 col-sm-12 col-md-7 contenedor mb-3">
        <h1>Suscripcion de Actividad</h1>

        <form class="formulario">
            <div class="encabezado">
                <h5>Consultar suscripciones del socio</h5>
            </div>

            <div class="contenedor-formulario p-3">
                <div class="mb-3 verificar d-flex">
                    <input type="text" class="form-control" name="verificar" placeholder="Ingrese dni del socio..."
                        [(ngModel)]="dniBuscado">
                    <div class="btn btn-light" (click)="buscarSocio()">Buscar</div>
                </div>
                <div class="mb-3">
                    <label for="estado">Estado:</label>
                    <input type="text" id="estado" value="{{estado}}" readonly>
                </div>
                <div class="boton-formulario mb-3">
                    <button type="submit" class="btn btn-primary"  (click)="limpiar()">Nueva Consulta</button>
                </div>
            </div>

        </form>

        <br>
        <form class="formulario">
            <div class="encabezado">
                <h5>Datos del Socio</h5>
            </div>
            <div class="contenedor-formulario p-3">
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI Socio</label>
                    <input type="text" class="form-control" id="dni"  name="dni"
                        [(ngModel)]="suscripcion.socio.dniSocio" readonly>
                </div>
                <div class="mb-3">
                    <label for="nrosocio" class="form-label">Número de Socio</label>
                    <input type="text" class="form-control" id="nrosocio" name="nrosocio"
                       [(ngModel)]="suscripcion.socio.numeroSocio" readonly>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" 
                        name="apellido" [(ngModel)]="suscripcion.socio.apellidoSocio" readonly>
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                        [(ngModel)]="suscripcion.socio.nombreSocio" readonly>
                </div>
                <div class="mb-3">
                    <label for="emailSocio" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailSocio" name="emailSocio"
                         [(ngModel)]="suscripcion.socio.correoSocio" readonly>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="email" class="form-control" id="telefono" 
                        name="telefono" [(ngModel)]="suscripcion.socio.telefonoSocio" readonly>
                </div>
            </div>
        </form>
    </div>


    <div class="col-12 col-sm-12 col-md-9 contenedor">
        <h1>Actividades Suscriptas</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Valor de la cuota</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sus of suscripciones">
                    <th scope="row">-</th>
                    <td>{{sus.actividad.nombreActividad}}</td>
                    <td>{{sus.actividad.horarioActividad}}</td>
                    <td>{{sus.actividad.valorCuotaActividad}}</td>
                    <td>{{sus.actividad.responsableActividad}}</td>
                    <td>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdropEliminar" (click)="confirmarEliminacion(sus._id)">Quitar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div  class="col-12 col-sm-12 col-md-9 contenedor">
        <h1>Actividades Disponibles</h1>
        <table class="table table-hover" *ngIf="suscripcion.socio.numeroSocio !=''">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Valor de la cuota</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let act of actividades">
                    <th scope="row">-</th>
                    <td>{{act.nombreActividad}}</td>
                    <td>{{act.horarioActividad}}</td>
                    <td>{{act.valorCuotaActividad}}</td>
                    <td>{{act.responsableActividad}}</td>
                    <td>
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="asignarIdActividad(act._id)">Suscribir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>